footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #E0E0E0; /* Couleur légèrement différente pour un effet plus doux */
    color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Ombre discrète */
  }
  
  footer .container {
    padding: 10px 20px; /* Réduit les espacements internes */
  }
  
  footer .text-xs {
    font-size: 12px; /* Réduit la taille de la police */
  }
  
  footer p {
    margin: 4px 0; /* Réduit les marges autour des paragraphes */
  }
  