<div class="overflow-x-hidden min-h-screen bg-gray-100 bg-cover" style="background-image: url('assets/rrrr.jpg');">
  <!-- Navbar (fixe en haut) -->
  <app-navbar class="fixed top-0 left-0 w-full z-50"></app-navbar>

  <div class="flex">
      <button class="fixed top-24 z-50 bg-black/30 rounded-full p-2 backdrop-blur-sm border border-white/20 hover:bg-black/40 transition-all"
      [class.left-4]="!isSidebarVisible"
      [class.left-64]="isSidebarVisible"
      (click)="toggleSidebar()">
      <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3">
          <path [attr.d]="isSidebarVisible ? 'M15 18l-6-6 6-6' : 'M9 18l6-6-6-6'"/>
      </svg>
  </button>
      <!-- Sidebar -->
      <aside class="w-64 bg-black bg-opacity-60 shadow-2xl h-screen p-5 fixed top-16 left-0 flex flex-col items-center" [class.hidden]="!isSidebarVisible">
          <div class="text-center ">

      <img [src]="profilePicture || 'assets/default-avatar.png'" 
           alt="Image de l'utilisateur"
           class="w-24 h-24 rounded-full mx-auto shadow-md bg-white p-1 cursor-pointer object-cover" 
           > 
      
      <h2 class="text-xl font-semibold mt-3 text-gray-800 th-black">
          Responsable: {{ user.firstName }} {{ user.lastName }}
          </h2>
      
  </div>

          <nav class="mt-8 w-full bg-white bg-opacity-80 shadow-sm rounded-lg p-3 transition-all duration-300 hover:bg-gray-100">
              <ul class="space-y-2">
                  <button 
                  class="bg-blue-500 text-white w-full py-2 rounded-md mt-4 hover:bg-blue-600 transition"
                  [routerLink]="['/profil']">
                  Voir profil
                </button>
                  <li>
                      <button (click)="setActiveTab('interventions')" class="w-full flex items-center p-2 text-gray-700 hover:bg-gray-100 rounded-md transition-all duration-200 hover:scale-110">
                          <span class="mr-3 text-lg">🛠</span>
                          <span class="font-medium text-sm hover:scale-110"><a href="responsable/list-interventions">Interventions</a></span>
                      </button>
                  </li>
                  <li>
                      <button (click)="setActiveTab('reclamations')" class="w-full flex items-center p-2 text-gray-700 hover:bg-gray-100 rounded-md transition-all duration-200 hover:scale-110">
                          <span class="mr-3 text-lg">⚠️</span>
                          <span class="font-medium text-sm hover:scale-110"> <a href="responsable/list-reclamations">Réclamations</a></span>
                      </button>
                  </li>
                      <li>
                      <button (click)="setActiveTab('reclamations')" class="w-full flex items-center p-2 text-gray-700 hover:bg-gray-100 rounded-md transition-all duration-200 hover:scale-110">
                            <span class="mr-3 text-lg">📊</span>
                          <span class="font-medium text-sm hover:scale-110"> <a href="responsable/statistique">Statistique</a></span>
                      </button>
                  </li>
                  
              </ul>
              <button 
                  class="bg-red-500 text-white w-full py-2 rounded-md mt-4 hover:bg-red-600 transition-all duration-150"
                 (click)="logout()">
                  Déconnexion
              </button>
          </nav>
      </aside>
  </div>

  <!-- Main Content -->
  <main class="flex justify-center items-start p-6 mt-20 bg-cover bg-center min-h-screen">
   <router-outlet></router-outlet>
  </main>

 
      
  
  
</div>