<header class="fixed top-0 left-0 w-full bg-gray-300 text-white shadow-md z-50">
  <div class="container mx-auto flex items-center justify-between py-3 px-6"> <!-- Réduit le padding -->
    <div class="flex items-center justify-center w-full">
      <img src="assets/isimg_logo.png" alt="ISIMG Logo" class="h-10 mr-4"> <!-- Réduit la taille du logo -->
      <span class="text-sm font-semibold text-black">Institut Supérieur d'Informatique et de Multimédia de Gabès</span> <!-- Taille du texte plus petite -->
    </div>
  </div>
</header>
