th {
    
  color: white;
  padding: 10px 12px; /* Réduit la taille du padding */
  font-size: 14px; /* Réduit la taille de la police */
  font-weight: 600; /* Un poids de police plus léger */
}

.header-row {
  background-color: #668cda; /* Gris clair */
  color: #d5d7da; 
}

  /* Raffinement des cellules de tableau */
  td {
    padding: 10px 12px;
    font-size: 14px;
  }
  
  /* Boutons arrondis et plus doux */
  button {
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    opacity: 0.9;
    transform: translateY(-2px);
  }
  
  button:active {
    transform: translateY(1px);
  }
  /* Amélioration de la présentation de la sidebar et du contenu */
  aside {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 18px;
    padding-top: 3rem; /* Ajoute de l'espace pour la flèche */
    margin-left: 0;
    transition: transform 0.3s ease;
  }

  button[class*="fixed"] {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}
  
  h2 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
  }
  
  nav a {
    font-size: 15px; /* Taille plus petite pour un effet plus discret */
    font-weight: 500; /* Poids léger */
  }
  /* Amélioration de la présentation de la sidebar et du contenu */
  aside {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 18px;
  }
  
  h2 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
  }
  
  nav a {
    font-size: 15px;
    font-weight: 500;
  }
  
  input[type="text"] {
    font-size: 14px;
    padding: 12px;
  }
  
  select, input[type="date"] {
    font-size: 14px;
    padding: 10px;
    border-radius: 8px;
  }
  
  /* Réduire l'espacement dans le tableau */
  table {
    margin-top: 10px;
    font-size: 13px;
  }
  
  input[type="text"], button {
    padding: 10px 15px;
    font-size: 13px;
  }
  
  .bg-white {
    margin-top: 16px;
    padding: 15px;
  }
  
  main {
    margin-left: 16rem; /* Ajuste la marge pour libérer plus d'espace */
    padding: 20px; /* Réduit l’espace autour du contenu */
    min-height: calc(100vh - 4rem); /* Ajuste la hauteur pour éviter un débordement */
    display: flex;
    justify-content: center; /* Centrer le contenu horizontalement */
    background-size: cover; /* Couvre toute la zone */
    background-position: center; /* Centre l’image */
    background-repeat: no-repeat; /* Empêche la répétition */

}
.custom-margin {
  margin-left: -12rem; /* Déplace un peu la div vers la gauche */
}
.hidden {
  display: none;
}

.th-black {
  color: rgb(255, 255, 255);
}



