
<app-navbar></app-navbar>



<div class="flex justify-center items-center min-h-screen bg-cover bg-center" style="background-image: url('assets/p3.jpg');">
    <div class="w-96 bg-white shadow-lg rounded-lg overflow-hidden">
      <!-- Header avec l'image utilisateur -->
      <div class="bg-gray-300 p-5 text-center">
        <img src="assets/logo_utilisateur1.png" alt="User Logo" class="h-16 mx-auto mt-4">
      </div>
  
      <!-- Formulaire -->
      <form class="p-6 space-y-4">
        <div>
          <label class="block font-semibold text-center">USERNAME</label>
          <input type="text" class="w-full p-2 border rounded-full bg-gray-200" placeholder="Entrez votre nom d'utilisateur">
        </div>
  
        <div>
          <label class="block font-semibold text-center ">EMAIL</label>
          
          <input type="email" class="w-full p-2 border rounded-full bg-gray-200" placeholder="Nom.Prénom@isimg.tn">
        </div>
  
        <div>
          <label class="block font-semibold text-center">PASSWORD</label>
          <input type="password" class="w-full p-2 border rounded-full bg-gray-200" placeholder="********">
        </div>
  
        <div>
          <label class="block font-semibold text-center">CONFIRM PASSWORD</label>
          <input type="password" class="w-full p-2 border rounded-full bg-gray-200" placeholder="********">
        </div>
  
        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-full hover:bg-blue-700">
          REGISTER
        </button>
      </form>
    </div>
  </div>
  
  <app-footer></app-footer>